.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
  /* size of row / size of column */
  /* repeat(2, 20px 50px): 4 rows/columns, first and third 20px, second and fourth 50px */
  /* grid-template: repeat(3, 1fr) / 3fr 50% 1fr; */
  grid-template: repeat(3, 1fr) / 3fr minmax(50px, 300px) 1fr;
  /* fr considers all avail space */
  grid-gap: 20px 5px;
}

.a {
  /* The value for grid-row-start should be the row at which you want the grid item to begin. 
  The value for grid-row-end should be one greater than the row at which you want the grid item to end.*/
  /* grid-row-start: 5;
  grid-row-end: 7; */
  grid-row: 5 / 7;
  /* When an item spans multiple rows or columns using these properties, it will also include the grid-gap 
  if any exists. For example, if an item spans two rows of height 100 pixels and there is a ten-pixel grid-gap, 
  then the item will have a total height of 210 pixels. */
}

.b {
  /* grid-column: 4 / 6; */
  /* start at col 4 and take up 2 col of space */
  grid-column: 4 / span 2;
}

.c {
  /* grid-row-start grid-column-start grid-row-end grid-column-end */
  /* takes up col 8 and rows 6,7,8   */
  grid-area: 6 / 8 / span 3 / span 1;

}


.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
